name: Publish

on:
  workflow_run:
    workflows: ["Prepublish"]
    branches: ["main"]
    types: ["completed"]

permissions:
  contents: write
  issues: write

jobs:
  publish:
    name: Publish
    runs-on: "ubuntu-latest"
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"
      - run: npm i -g npm@7 --registry=https://registry.npmjs.org && npm --version
      - run: npm ci
      - run: npm run test:unit
      - run: npm run test:integration
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: codecov/codecov-action@v2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
      - run: npm run package
      - run: pwd
      - run: ls -ltra
      - uses: smockle/action-release-branch@main
        with:
          release_branch: "dist"
        env:
          GH_EMAIL: ${{ secrets.GH_EMAIL }}
          GH_USERNAME: ${{ secrets.GH_USERNAME }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
